html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: gray;
}

body {
  display: flex;
  flex-direction: row;
  position: relative;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: calc(100% - 20px);
  padding: 10px;
  padding-top: 50px;
  text-align: center;
}

.ticker, .investment {
  text-align: center;
  padding: 15px 5px;
  display: flex;
  flex-direction: row;
}

.ticker > label, .investment > label{
  padding: 0 10px;
  width: 115px;
}

.investment{
  padding-top: 0;
}

.date-range {
  text-align: center;
  padding: 30px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
}

.start-date, .end-date{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.user-inputs > button {
  margin: 30px;
}

.test {
  width: calc(100% - 200px);
  height: 100%;
}

chart {
  height: 100%;
  width: calc(100% - 200px);
  margin-top: 30px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus > text, .focus2 > text {
  position: relative;
  z-index: 1;
}

.x-hover-line, .y-hover-line {
  stroke: blue;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.x-hover-line2, .y-hover-line2 {
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}


.tabcontent {
  display: none;
}

#search {
  position: relative;
  width: calc(100% - 115px);
  text-align: left;
}

#search > ul#autofill {
  position: absolute;
  z-index: 1;
  margin: 0;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul#autofill > li {
  font-size: 10px;
}

.ticker-type {
  text-align: center;
  padding: 5px;
}

.tabs {
  text-align: center;
  padding: 5px;
}

.ticker-1-group, .ticker-2-group {
  border: solid black 1px;
}
